<header>
<nav class="mx-auto navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <form action="/" method="POST">
          <button class="font-weight-bold btn text-light no-padding" type="submit"><bold>JS Quiz Maker</bold></button>
      </form>
      </li>
      <li class="nav-item">
        <form action="/myquizzes" method="POST">
          <button class="btn text-light no-padding" type="submit"><bold>My Quizzes</bold></button>
      </form>
      </li>
      <li class="nav-item">
        <form action="/create" method="POST">
          <button class="btn text-light no-padding" type="submit"><bold>Create</bold></button>
      </form>
      </li>
      <li class="nav-item">
        <form action="/load" method="POST">
          <button class="btn text-light no-padding" type="submit"><bold>Load Quiz</bold></button>
      </form>
      </li>
      <li class="nav-item">
        <form action="/about" method="POST">
          <button class="btn text-light no-padding" type="submit"><bold>About</bold></button>
      </form>
      </li>
    </ul>
  </nav>
</header>